.App {
  text-align: center;
}

body {
  background-image: linear-gradient(-90deg, #2193b0, #6dd5ed);
}

/* login and register forms */

.col-md-4.formStyle,
.col-md-8.formStyle {
  margin-top: 6%;
  background-color: white;
  /* background: rgba(251, 251, 251, 0.7); */
  border-radius: 2%;
  padding: 3% 2% 3% 2%;
  -webkit-box-shadow: 0px 0px 23px -2px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 23px -2px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 23px -2px rgba(0, 0, 0, 0.66);
}

.formStyle {
  opacity: 0.7;
}
