.navbar {
  -webkit-box-shadow: 0px 2px 23px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 23px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 23px -8px rgba(0, 0, 0, 0.75);
  background-color: transparent;
}

.img {
  max-width: 100px;
  height: 55px;
}

.cat-section {
  background-color: lightblue;
  height: 82vh;
  border-radius: 5%;
  -webkit-box-shadow: 0px 0px 43px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 43px -23px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 43px -23px rgba(0, 0, 0, 0.75);
}
.survey {
  overflow-x: hidden;
}
